
$primary-colour: '#005056';
$secondary-colour: '#4C3735';
$basic-grey: '#ccc';

*,
*::after,
*::before { 
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  // overflow-x: hidden;

  background-color: #ccc;
}

// .outerContainer {
//   display: grid;
//   grid-template-rows: repeat(2, 1fr);

//   grid-template-areas: 
//   "showcase"
//   "container";
// }

// .showcase {
//   display: flex;
//   flex: 1;
//   height: 100%;
//   width: 100%;
//   grid-area: showcase;
// }

.container {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-area: container;


  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 1fr 60px;

  grid-template-areas: 
  "header header header"
  "main main main"
  "main main main"
  "footer footer footer";

}

// Main layout header
.header {
    grid-area: header;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: $primary-colour;
      margin-Left: 20px;
      font-size: 2em;
      font-weight: 600;
    }
}
// Main layout, main content area - rest of the page
.main {
    grid-area: main;
    display: grid;
    grid-gap: 15px;
    padding: 1em;
    background-color: #ccc;

    grid-template-columns: 1fr 3fr 4fr 1fr 1fr;
    grid-template-rows: 1fr 6fr .5fr;

    grid-template-areas: 
    ". industry results results . ."
    ". selections results results . ."
    ". selections results results . .";

}

// Within the main-area - industry selection
.industry {
    grid-area: industry;
}

// Within the main-area - focus, roles and skills selections
.selections {
    grid-area: selections;
}

// Within the main-area - where the results are shown
.results {
    grid-area: results;
}

.footer {
  grid-area: footer;
  background-color: $basic-grey;
  height: 50px;
}

// component styles

.selectionContainer {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.resultsContainer {
  width: 100%;
  height: 100%;
  background: #ccc;
  // border-radius: 20px;
  // box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  // transition: box-shadow 0.5s;
  // will-change: transform;
  // border: 15px solid #ccc;
  // overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

// .card:hover {
//   box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
// }

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4C3735;
}