// .container {
//     grid-area: intro;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 3em;

//     .hireImage {
//         // display: flex;
//         align-items: flex-end
//     }
// }

.card {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
  }

   /* Desktops and laptops ----------- */
   @media only screen  and (min-width : 1224px) {
    /* Styles */

        .container {
            grid-area: intro;
            display: flex;
            margin: 3em;
        
            .hireImage {
                width: 30rem;     
                height: 20rem;
                // display: flex;
                align-items: flex-end
            }
        }
    }

      /* Meduim screens ------------*/
  @media only screen  and (min-width : 1575px) {
    /* Styles */
        .container {
            grid-area: intro;
            display: flex;
        
            justify-content: flex-end;
            display: flex;
            margin: 3em;
        
            .hireImage {
                width: 40rem;     
                height: 30rem;
                // display: flex;
                align-items: flex-end
            }
        }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */

        .container {
            grid-area: intro;
            display: flex;
         
            justify-content: flex-end;
            display: flex;
            margin: 3em;
        
            .hireImage {
                width: 50rem;     
                height: 40rem;
                // display: flex;
                align-items: flex-end
            }
        }
    }

